build/cart-page.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <meta name="description" content="Description">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&amp;family=Montserrat:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/libs/owl.carousel.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/icon" href="favicon.ico">
  </head>
  <body>
    <div class="container-fluid">
      <header class="header">
        <div class="top-bar js-topBar main-font">
          <div class="main-container">
            <div class="row align-items-center">
              <div class="col">
                <button class="nav-toggle js-navToggle"><span></span><span></span><span></span></button><a class="site-top-logo" href="/" title="Site Name"><img src="img/main-logo.svg" alt="Site Logo"></a>
              </div>
              <div class="col nav-col">
                <div class="row align-items-center">
                  <div class="col">
                    <nav class="site-top-navigation">
                      <ul class="menu">
                        <li><a href="about-us.html">О нас</a></li>
                        <li class="has-children"><a href="#">Продукты</a>
                          <ul class="sub-menu">
                            <li><a href="product_1.html">Модульная доска</a></li>
                            <li><a href="product_2.html">Маркерный планшет</a></li>
                            <li><a href="product_3.html">Магнитные стикеры</a></li>
                            <li><a href="#">Маркерный магнит</a></li>
                            <li><a href="#">Многоразовые стикеры</a></li>
                          </ul>
                        </li>
                        <li class="has-children"><a href="#">Для кого</a>
                          <ul class="sub-menu">
                            <li><a href="page.html">Планируйте! Организуйте! Создавайте!</a></li>
                            <li><a href="#">Обучение</a></li>
                            <li><a href="#">Работа из дома</a></li>
                            <li><a href="#">Рабочее место</a></li>
                          </ul>
                        </li>
                        <li class="js-openContacts"><a href="#contacts">Контакты</a></li>
                      </ul>
                    </nav>
                  </div>
                  <div class="col search-col">
                    <form action="#" method="POST"><i class="icon search-icon js-topBarSearch"></i>
                      <input class="search-input top-bar__search-input" type="search">
                    </form>
                  </div>
                  <div class="col"><a class="cart" href="cart.html"><i class="icon cart-icon"></i><span class="cart-total">1</span></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mobile-menu js-mobileMenu">
          <div class="mobile-menu-inner">
            <div class="mobile-menu-search search-col"><i class="icon search-icon"></i>
              <input class="search-input" type="search" placeholder="Поиск">
            </div>
            <nav class="site-mobile-navigation">
              <ul class="menu">
                <li><a href="about-us.html">О нас</a></li>
                <li class="has-children"><a href="#">Продукты</a><span class="mobile-menu-arrow-wrapper"><i class="icon mobile-menu-arrow-icon"></i></span>
                  <ul class="sub-menu">
                    <li><a href="product_1.html">Модульная доска</a></li>
                    <li><a href="product_2.html">Маркерный планшет</a></li>
                    <li><a href="product_3.html">Магнитные стикеры</a></li>
                    <li><a href="#">Маркерный магнит</a></li>
                    <li><a href="#">Многоразовые стикеры</a></li>
                  </ul>
                </li>
                <li class="has-children"><a href="#">Для кого</a><span class="mobile-menu-arrow-wrapper"><i class="icon mobile-menu-arrow-icon"></i></span>
                  <ul class="sub-menu">
                    <li><a href="#">Планируйте! Организуйте! Создавайте!</a></li>
                    <li><a href="#">Обучение</a></li>
                    <li><a href="#">Работа из дома</a></li>
                    <li><a href="#">Рабочее место</a></li>
                  </ul>
                </li>
                <li class="js-openContacts"><a href="#contacts">Контакты</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <div class="cart-page-wrapper main-font">
        <div class="container">
          <div class="row">
            <div class="col-8 cart-main-col">
              <div class="cart-page__col-top">
                <h1 class="block-title-md">Ваш заказ</h1>
                <div class="cart-list">
                  <div class="cart-list__item item">
                    <div class="row align-items-center">
                      <div class="col cart-list__item-preview">
                        <div class="img-block"><img src="img/cart-list-prev.jpg" alt=""></div>
                      </div>
                      <div class="col cart-list__item-main-desc">
                        <div class="cart-list__item-name"><strong><span>Brainstorm</span></strong></div>
                        <div class="cart-list__item-desc"><span>9 модулей, 10 планшетов, 48 стикеровь</span></div>
                      </div>
                      <div class="col cart-list__item-cost"><strong class="total">12 150</strong><span class="rub">&#8381;</span></div>
                      <div class="col cart-list__item-control">
                        <div class="number-control js-numberControl">
                          <button class="btn minus">&#8722;</button>
                          <input class="total" type="text" value="1">
                          <button class="btn plus">+</button>
                        </div>
                      </div>
                      <div class="col cart-list__close">
                        <button class="cart-list__close-item js-closeCartItem"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M13.4099 11.9999L19.7099 5.70994C19.8982 5.52164 20.004 5.26624 20.004 4.99994C20.004 4.73364 19.8982 4.47825 19.7099 4.28994C19.5216 4.10164 19.2662 3.99585 18.9999 3.99585C18.7336 3.99585 18.4782 4.10164 18.2899 4.28994L11.9999 10.5899L5.70994 4.28994C5.52164 4.10164 5.26624 3.99585 4.99994 3.99585C4.73364 3.99585 4.47824 4.10164 4.28994 4.28994C4.10164 4.47825 3.99585 4.73364 3.99585 4.99994C3.99585 5.26624 4.10164 5.52164 4.28994 5.70994L10.5899 11.9999L4.28994 18.2899C4.19621 18.3829 4.12182 18.4935 4.07105 18.6154C4.02028 18.7372 3.99414 18.8679 3.99414 18.9999C3.99414 19.132 4.02028 19.2627 4.07105 19.3845C4.12182 19.5064 4.19621 19.617 4.28994 19.7099C4.3829 19.8037 4.4935 19.8781 4.61536 19.9288C4.73722 19.9796 4.86793 20.0057 4.99994 20.0057C5.13195 20.0057 5.26266 19.9796 5.38452 19.9288C5.50638 19.8781 5.61698 19.8037 5.70994 19.7099L11.9999 13.4099L18.2899 19.7099C18.3829 19.8037 18.4935 19.8781 18.6154 19.9288C18.7372 19.9796 18.8679 20.0057 18.9999 20.0057C19.132 20.0057 19.2627 19.9796 19.3845 19.9288C19.5064 19.8781 19.617 19.8037 19.7099 19.7099C19.8037 19.617 19.8781 19.5064 19.9288 19.3845C19.9796 19.2627 20.0057 19.132 20.0057 18.9999C20.0057 18.8679 19.9796 18.7372 19.9288 18.6154C19.8781 18.4935 19.8037 18.3829 19.7099 18.2899L13.4099 11.9999Z" fill="#C1BEDA"/>
</svg>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="cart-list__item item">
                    <div class="row align-items-center">
                      <div class="col cart-list__item-preview">
                        <div class="img-block"><img src="img/cart-list-prev.jpg" alt=""></div>
                      </div>
                      <div class="col cart-list__item-main-desc">
                        <div class="cart-list__item-name"><strong><span>Brainstorm</span></strong></div>
                        <div class="cart-list__item-desc"><span>9 модулей, 10 планшетов, 48 стикеровь</span></div>
                      </div>
                      <div class="col cart-list__item-cost"><strong>12 150</strong><span class="rub">&#8381;</span></div>
                      <div class="col cart-list__item-control">
                        <div class="number-control js-numberControl">
                          <button class="btn minus">&#8722;</button>
                          <input class="total" type="text" value="1">
                          <button class="btn plus">+</button>
                        </div>
                      </div>
                      <div class="col cart-list__close">
                        <button class="cart-list__close-item js-closeCartItem"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M13.4099 11.9999L19.7099 5.70994C19.8982 5.52164 20.004 5.26624 20.004 4.99994C20.004 4.73364 19.8982 4.47825 19.7099 4.28994C19.5216 4.10164 19.2662 3.99585 18.9999 3.99585C18.7336 3.99585 18.4782 4.10164 18.2899 4.28994L11.9999 10.5899L5.70994 4.28994C5.52164 4.10164 5.26624 3.99585 4.99994 3.99585C4.73364 3.99585 4.47824 4.10164 4.28994 4.28994C4.10164 4.47825 3.99585 4.73364 3.99585 4.99994C3.99585 5.26624 4.10164 5.52164 4.28994 5.70994L10.5899 11.9999L4.28994 18.2899C4.19621 18.3829 4.12182 18.4935 4.07105 18.6154C4.02028 18.7372 3.99414 18.8679 3.99414 18.9999C3.99414 19.132 4.02028 19.2627 4.07105 19.3845C4.12182 19.5064 4.19621 19.617 4.28994 19.7099C4.3829 19.8037 4.4935 19.8781 4.61536 19.9288C4.73722 19.9796 4.86793 20.0057 4.99994 20.0057C5.13195 20.0057 5.26266 19.9796 5.38452 19.9288C5.50638 19.8781 5.61698 19.8037 5.70994 19.7099L11.9999 13.4099L18.2899 19.7099C18.3829 19.8037 18.4935 19.8781 18.6154 19.9288C18.7372 19.9796 18.8679 20.0057 18.9999 20.0057C19.132 20.0057 19.2627 19.9796 19.3845 19.9288C19.5064 19.8781 19.617 19.8037 19.7099 19.7099C19.8037 19.617 19.8781 19.5064 19.9288 19.3845C19.9796 19.2627 20.0057 19.132 20.0057 18.9999C20.0057 18.8679 19.9796 18.7372 19.9288 18.6154C19.8781 18.4935 19.8037 18.3829 19.7099 18.2899L13.4099 11.9999Z" fill="#C1BEDA"/>
</svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cart-total-info">
                  <div class="cart-total-info__line">
                    <table>
                      <tr>
                        <td>Итого:</td>
                        <td><strong><span class="js-totalCost">12 150</span></strong> <span class="rub">&#8381;</span></td>
                      </tr>
                      <tr>
                        <td>Доставка:</td>
                        <td><strong>0</strong> <span class="rub">&#8381;</span></td>
                      </tr>
                      <tr>
                        <td><strong>Всего к оплате:</strong></td>
                        <td class="total">12 150 <span class="rub">&#8381;</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3 cart-form-col">
              <div class="cart-form">
                <p>Чтобы оформить заказ, оставьте свои контакты и с вами свяжется менеджер</p>
                <form action="#" method="POST">
                  <input type="text" placeholder="Как к вам обращаться?">
                  <input type="tel" placeholder="Телефон *" required>
                  <input type="mail" placeholder="E-mail *" required>
                  <textarea name="comments"></textarea>
                  <div class="custom-checkbox private-policy">
                    <input type="checkbox" id="cart-form-private-policy">
                    <label for="cart-form-private-policy">Компания Magniclick будет обрабатывать ваши персональные данные в&nbsp;соответствии с&nbsp;<a href="#">Политикой конфиденциальности</a></label>
                  </div><span class="form-info">*. Поля являются обязательными для заполнения</span>
                  <button class="btn form-btn" type="submit">Заказать</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cart-popup">
        <button class="cart-popup__close js-closeCartPopup"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M13.4099 11.9999L19.7099 5.70994C19.8982 5.52164 20.004 5.26624 20.004 4.99994C20.004 4.73364 19.8982 4.47825 19.7099 4.28994C19.5216 4.10164 19.2662 3.99585 18.9999 3.99585C18.7336 3.99585 18.4782 4.10164 18.2899 4.28994L11.9999 10.5899L5.70994 4.28994C5.52164 4.10164 5.26624 3.99585 4.99994 3.99585C4.73364 3.99585 4.47824 4.10164 4.28994 4.28994C4.10164 4.47825 3.99585 4.73364 3.99585 4.99994C3.99585 5.26624 4.10164 5.52164 4.28994 5.70994L10.5899 11.9999L4.28994 18.2899C4.19621 18.3829 4.12182 18.4935 4.07105 18.6154C4.02028 18.7372 3.99414 18.8679 3.99414 18.9999C3.99414 19.132 4.02028 19.2627 4.07105 19.3845C4.12182 19.5064 4.19621 19.617 4.28994 19.7099C4.3829 19.8037 4.4935 19.8781 4.61536 19.9288C4.73722 19.9796 4.86793 20.0057 4.99994 20.0057C5.13195 20.0057 5.26266 19.9796 5.38452 19.9288C5.50638 19.8781 5.61698 19.8037 5.70994 19.7099L11.9999 13.4099L18.2899 19.7099C18.3829 19.8037 18.4935 19.8781 18.6154 19.9288C18.7372 19.9796 18.8679 20.0057 18.9999 20.0057C19.132 20.0057 19.2627 19.9796 19.3845 19.9288C19.5064 19.8781 19.617 19.8037 19.7099 19.7099C19.8037 19.617 19.8781 19.5064 19.9288 19.3845C19.9796 19.2627 20.0057 19.132 20.0057 18.9999C20.0057 18.8679 19.9796 18.7372 19.9288 18.6154C19.8781 18.4935 19.8037 18.3829 19.7099 18.2899L13.4099 11.9999Z" fill="#354151"/>
</svg>
        </button>
        <div class="cart-popup__inner main-font">
          <div class="block-title-md"><span>Заказ принят!</span></div>
          <p>Ваш заказ уже пакуют, в&nbsp;ближайшее время с&nbsp;вами свяжется менеджер для уточнения деталей</p>
          <div class="img-block"><img src="img/cart-popup.svg" alt="Cart Popup"></div>
        </div>
      </div>
      <footer class="footer main-font">
        <div class="container">
          <div class="row row--first">
            <div class="col-3"><a class="site-logo footer__logo" href="/"><img src="img/footer-logo.svg" atl="Site Name"></a>
              <ul class="menu footer__menu">
                <li><a href="#">О нас</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Для кого</a></li>
              </ul>
            </div>
            <div class="col-3">
              <h3 class="footer__title">Наши контакты</h3>
              <div class="footer__contacts">
                <div class="site-phone footer__contact-item"><a href="tel: +79005678954"><i class="icon phone-icon-white" aria-hidden="true"></i>+ 7 900 567 89 54</a></div>
                <div class="site-email footer__contact-item"><a href="mailto: Magniclick@gmail.ru"><i class="icon mail-icon-white" aria-hidden="true"></i>Magniclick@gmail.ru</a></div>
                <div class="social-block footer__social-block footer__contact-item"><a class="social-link" href="#"><i class="icon viber-icon-white" aria-hidden="true"></i></a><a class="social-link" href="#"><i class="icon telegram-icon-white" aria-hidden="true"></i></a><a class="social-link" href="#"><i class="icon whatsapp-icon-white" aria-hidden="true"></i></a></div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-6">
                  <h3 class="footer__title">Контакты для связи</h3>
                </div>
              </div>
              <div class="footer__form white-form">
                <form action="#" method="POST">
                  <div class="row">
                    <div class="col-6">
                      <input type="text" placeholder="Как к вам обращаться?">
                      <input type="tel" placeholder="Телефон *" required>
                      <input type="mail" placeholder="E-mail *" required>
                    </div>
                    <div class="col-6 flex-col">
                      <div class="custom-checkbox private-policy">
                        <input type="checkbox" id="footer-form-private-policy">
                        <label for="footer-form-private-policy">Компания Magniclick будет обрабатывать ваши персональные данные в&nbsp;соответствии с&nbsp;<a href="#">Политикой конфиденциальности</a></label>
                      </div><span class="form-info">*. Поля являются обязательными для заполнения</span>
                      <button class="btn" type="submit">Связаться со мной</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="contact-form-popup js-contactsPopup main-font">
          <button class="contact-form__close-popup js-closePopup"><i class="icon close-icon-white"></i></button>
          <div class="contact-form">
            <div class="row">
              <div class="col-6">
                <h5 class="contact-form__title">Наши контакты</h5>
                <div class="site-phone contact-form__item"><a href="tel: +79005678954"><i class="icon phone-icon-white" aria-hidden="true"></i>+ 7 900 567 89 54</a></div>
                <div class="site-email contact-form__item"><a href="mailto: Magniclick@gmail.ru"><i class="icon mail-icon-white" aria-hidden="true"></i>Magniclick@gmail.ru</a></div>
                <div class="social-block contact-form__item"><a class="social-link" href="#"><i class="icon viber-icon-white" aria-hidden="true"></i></a><a class="social-link" href="#"><i class="icon telegram-icon-white" aria-hidden="true"></i></a><a class="social-link" href="#"><i class="icon whatsapp-icon-white" aria-hidden="true"></i></a><a href="tel: +79005678954">+ 7 900 567 89 54</a></div>
                <div class="site-time contact-form__item"><i class="icon clock-icon-white" aria-hidden="true"></i><span>9.00 — 18.00</span></div>
              </div>
              <div class="col-6">
                <h5 class="contact-form__title">Оставьте контакты для связи</h5>
                <div class="white-form">
                  <form action="#" method="POST"><span class="form-info">*. Поля являются обязательными для заполнения</span>
                    <input type="text" placeholder="Как к вам обращаться?">
                    <input type="tel" placeholder="Телефон *" required>
                    <input type="mail" placeholder="E-mail *" required>
                    <div class="custom-checkbox private-policy">
                      <input type="checkbox" id="main-contact-form-private-policy">
                      <label for="main-contact-form-private-policy">Компания Magniclick будет обрабатывать ваши персональные данные в&nbsp;соответствии с&nbsp;<a href="#">Политикой конфиденциальности</a></label>
                    </div>
                    <button class="btn form-btn" type="submit">Связаться со мной</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.0.slim.min.js" integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script>
        <script src="js/libs/owl.carousel.min.js"></script>
        <script src="js/libs/owl.carousel2.thumbs.min.js"></script>
        <script src="js/script.js"></script>
      </footer>
    </div>
  </body>
</html>

src/cart-page.pug
extends layout/main

block content
  .cart-page-wrapper.main-font
    .container
      .row
        .col-8.cart-main-col
          .cart-page__col-top
            h1.block-title-md Ваш заказ
            .cart-list
              .cart-list__item.item
                .row.align-items-center
                  .col.cart-list__item-preview
                    .img-block
                      img(src="img/cart-list-prev.jpg" alt="")
                  .col.cart-list__item-main-desc
                    .cart-list__item-name
                      strong
                        span Brainstorm
                    .cart-list__item-desc
                      span 9 модулей, 10 планшетов, 48 стикеровь
                  .col.cart-list__item-cost
                    strong.total 12 150
                    span.rub &#8381;
                  .col.cart-list__item-control
                    .number-control.js-numberControl
                      button.btn.minus &#8722;
                      input.total(type="text" value=1)
                      button.btn.plus +
                  .col.cart-list__close
                    button.cart-list__close-item.js-closeCartItem
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.4099 11.9999L19.7099 5.70994C19.8982 5.52164 20.004 5.26624 20.004 4.99994C20.004 4.73364 19.8982 4.47825 19.7099 4.28994C19.5216 4.10164 19.2662 3.99585 18.9999 3.99585C18.7336 3.99585 18.4782 4.10164 18.2899 4.28994L11.9999 10.5899L5.70994 4.28994C5.52164 4.10164 5.26624 3.99585 4.99994 3.99585C4.73364 3.99585 4.47824 4.10164 4.28994 4.28994C4.10164 4.47825 3.99585 4.73364 3.99585 4.99994C3.99585 5.26624 4.10164 5.52164 4.28994 5.70994L10.5899 11.9999L4.28994 18.2899C4.19621 18.3829 4.12182 18.4935 4.07105 18.6154C4.02028 18.7372 3.99414 18.8679 3.99414 18.9999C3.99414 19.132 4.02028 19.2627 4.07105 19.3845C4.12182 19.5064 4.19621 19.617 4.28994 19.7099C4.3829 19.8037 4.4935 19.8781 4.61536 19.9288C4.73722 19.9796 4.86793 20.0057 4.99994 20.0057C5.13195 20.0057 5.26266 19.9796 5.38452 19.9288C5.50638 19.8781 5.61698 19.8037 5.70994 19.7099L11.9999 13.4099L18.2899 19.7099C18.3829 19.8037 18.4935 19.8781 18.6154 19.9288C18.7372 19.9796 18.8679 20.0057 18.9999 20.0057C19.132 20.0057 19.2627 19.9796 19.3845 19.9288C19.5064 19.8781 19.617 19.8037 19.7099 19.7099C19.8037 19.617 19.8781 19.5064 19.9288 19.3845C19.9796 19.2627 20.0057 19.132 20.0057 18.9999C20.0057 18.8679 19.9796 18.7372 19.9288 18.6154C19.8781 18.4935 19.8037 18.3829 19.7099 18.2899L13.4099 11.9999Z" fill="#C1BEDA"/>
                      </svg>

              .cart-list__item.item
                .row.align-items-center
                  .col.cart-list__item-preview
                    .img-block
                      img(src="img/cart-list-prev.jpg" alt="")
                  .col.cart-list__item-main-desc
                    .cart-list__item-name
                      strong
                        span Brainstorm
                    .cart-list__item-desc
                      span 9 модулей, 10 планшетов, 48 стикеровь
                  .col.cart-list__item-cost
                    strong 12 150
                    span.rub &#8381;
                  .col.cart-list__item-control
                    .number-control.js-numberControl
                      button.btn.minus &#8722;
                      input.total(type="text" value=1)
                      button.btn.plus +
                  .col.cart-list__close
                    button.cart-list__close-item.js-closeCartItem
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.4099 11.9999L19.7099 5.70994C19.8982 5.52164 20.004 5.26624 20.004 4.99994C20.004 4.73364 19.8982 4.47825 19.7099 4.28994C19.5216 4.10164 19.2662 3.99585 18.9999 3.99585C18.7336 3.99585 18.4782 4.10164 18.2899 4.28994L11.9999 10.5899L5.70994 4.28994C5.52164 4.10164 5.26624 3.99585 4.99994 3.99585C4.73364 3.99585 4.47824 4.10164 4.28994 4.28994C4.10164 4.47825 3.99585 4.73364 3.99585 4.99994C3.99585 5.26624 4.10164 5.52164 4.28994 5.70994L10.5899 11.9999L4.28994 18.2899C4.19621 18.3829 4.12182 18.4935 4.07105 18.6154C4.02028 18.7372 3.99414 18.8679 3.99414 18.9999C3.99414 19.132 4.02028 19.2627 4.07105 19.3845C4.12182 19.5064 4.19621 19.617 4.28994 19.7099C4.3829 19.8037 4.4935 19.8781 4.61536 19.9288C4.73722 19.9796 4.86793 20.0057 4.99994 20.0057C5.13195 20.0057 5.26266 19.9796 5.38452 19.9288C5.50638 19.8781 5.61698 19.8037 5.70994 19.7099L11.9999 13.4099L18.2899 19.7099C18.3829 19.8037 18.4935 19.8781 18.6154 19.9288C18.7372 19.9796 18.8679 20.0057 18.9999 20.0057C19.132 20.0057 19.2627 19.9796 19.3845 19.9288C19.5064 19.8781 19.617 19.8037 19.7099 19.7099C19.8037 19.617 19.8781 19.5064 19.9288 19.3845C19.9796 19.2627 20.0057 19.132 20.0057 18.9999C20.0057 18.8679 19.9796 18.7372 19.9288 18.6154C19.8781 18.4935 19.8037 18.3829 19.7099 18.2899L13.4099 11.9999Z" fill="#C1BEDA"/>
                      </svg>

            .cart-total-info
              .cart-total-info__line
                table
                  tr
                    td Итого:
                    td #[strong #[span.js-totalCost 12 150]] #[span.rub &#8381;]
                  tr
                    td Доставка:
                    td #[strong 0] #[span.rub &#8381;]
                  tr
                    td #[strong Всего к оплате:]
                    td.total 12 150 #[span.rub &#8381;]
        .col-3.cart-form-col
          .cart-form
            p Чтобы оформить заказ, оставьте свои контакты и с вами свяжется менеджер

            form(action="#" method="POST")
              input(type="text" placeholder="Как к вам обращаться?")
              input(type="tel" placeholder="Телефон *" required)
              input(type="mail" placeholder="E-mail *" required)
              textarea(name="comments")
              .custom-checkbox.private-policy
                input(type="checkbox" id="cart-form-private-policy")
                label(for="cart-form-private-policy") Компания Magniclick будет обрабатывать ваши персональные данные в&nbsp;соответствии с&nbsp;#[a(href="#") Политикой конфиденциальности]
              span.form-info
                | *. Поля являются обязательными для заполнения
              button(type="submit").btn.form-btn
                | Заказать

  .cart-popup
    button.cart-popup__close.js-closeCartPopup
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.4099 11.9999L19.7099 5.70994C19.8982 5.52164 20.004 5.26624 20.004 4.99994C20.004 4.73364 19.8982 4.47825 19.7099 4.28994C19.5216 4.10164 19.2662 3.99585 18.9999 3.99585C18.7336 3.99585 18.4782 4.10164 18.2899 4.28994L11.9999 10.5899L5.70994 4.28994C5.52164 4.10164 5.26624 3.99585 4.99994 3.99585C4.73364 3.99585 4.47824 4.10164 4.28994 4.28994C4.10164 4.47825 3.99585 4.73364 3.99585 4.99994C3.99585 5.26624 4.10164 5.52164 4.28994 5.70994L10.5899 11.9999L4.28994 18.2899C4.19621 18.3829 4.12182 18.4935 4.07105 18.6154C4.02028 18.7372 3.99414 18.8679 3.99414 18.9999C3.99414 19.132 4.02028 19.2627 4.07105 19.3845C4.12182 19.5064 4.19621 19.617 4.28994 19.7099C4.3829 19.8037 4.4935 19.8781 4.61536 19.9288C4.73722 19.9796 4.86793 20.0057 4.99994 20.0057C5.13195 20.0057 5.26266 19.9796 5.38452 19.9288C5.50638 19.8781 5.61698 19.8037 5.70994 19.7099L11.9999 13.4099L18.2899 19.7099C18.3829 19.8037 18.4935 19.8781 18.6154 19.9288C18.7372 19.9796 18.8679 20.0057 18.9999 20.0057C19.132 20.0057 19.2627 19.9796 19.3845 19.9288C19.5064 19.8781 19.617 19.8037 19.7099 19.7099C19.8037 19.617 19.8781 19.5064 19.9288 19.3845C19.9796 19.2627 20.0057 19.132 20.0057 18.9999C20.0057 18.8679 19.9796 18.7372 19.9288 18.6154C19.8781 18.4935 19.8037 18.3829 19.7099 18.2899L13.4099 11.9999Z" fill="#354151"/>
      </svg>

    .cart-popup__inner.main-font
      .block-title-md
        span Заказ принят!

      p Ваш заказ уже пакуют, в&nbsp;ближайшее время с&nbsp;вами свяжется менеджер для уточнения деталей

      .img-block
        img(src="img/cart-popup.svg" alt="Cart Popup")
